/* 	
	Copyright 2017 Anup Sawant. All rights reserved. 
	@author: anupsawant
	@info: styling for hangman game
*/
html,
body {
  background-color: white;
  height: 100%;
}
.underheading {
  font-weight: 600;
  font-size: 16px;
}
/* Image properties */
#hangman-animation {
  margin-top: 1rem;
}
#cover {
  text-align: center;
}
#spaces {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 35px;
  font-weight: 800px;
}
#no-of-attempts-left {
  margin-bottom: 1rem;
  font-size: 25px;
  font-weight: 500px;
}
#attempts {
  margin-bottom: 1rem;
  font-size: 25px;
  font-weight: 500px;
  color: red;
}
#keyboard {
  padding-top: 1rem;
  height: 50%;
  background: url(../images/gray_jean_@2X.jpg) center;
}
.letter {
  margin-left: 2px;
  margin-right: 2px;
  font-size: 3rem;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(13, 114, 11, 0.1);
  transition: 0.3s;
}
.letter:hover {
  transition: 0.3s;
  background-color: rgba(13, 114, 11, 0.9) !important;
  cursor: pointer;
  cursor: hand;
}
.table {
  text-align: center;
  border-bottom: 0px !important;
}
.table th,
.table td {
  border: 1px !important;
}
